
.animate__animated.animate__delay-_5s {
  --animate-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1_5s {
  --animate-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2_5s {
  --animate-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-3_5s {
  --animate-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-4_5s {
  --animate-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-5_5s {
  --animate-delay: 5.5s;
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}





.animate__animated.animate__delay-1s {
  --animate-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2s {
  --animate-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-3s {
  --animate-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-4s {
  --animate-delay: 4s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-5s {
  --animate-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}




.animate__animated.animate__delay-_25s {
  --animate-delay: .25s;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-_75s {
  --animate-delay: .75s;
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1_25s {
  --animate-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-1_75s {
  --animate-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2_25s {
  --animate-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2_75s {
  --animate-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-3_25s {
  --animate-delay: 3.25s;
  -webkit-animation-delay: 3.25s;
  animation-delay: 3.25s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-3_75s {
  --animate-delay: 3.75s;
  -webkit-animation-delay: 3.75s;
  animation-delay: 3.75s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-4_25s {
  --animate-delay: 4.25s;
  -webkit-animation-delay: 4.25s;
  animation-delay: 4.25s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-4_75s {
  --animate-delay: 4.75s;
  -webkit-animation-delay: 4.75s;
  animation-delay: 4.75s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-5_25s {
  --animate-delay: 5.25s;
  -webkit-animation-delay: 5.25s;
  animation-delay: 5.25s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-5_75s {
  --animate-delay: 5.75s;
  -webkit-animation-delay: 5.75s;
  animation-delay: 5.75s;
  -webkit-animation-delay: var(--animate-delay);
  animation-delay: var(--animate-delay);
}
